:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

}

.App {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: rgb(235, 211, 251);
  gap: 2rem;
}



.counters {
  display: flex;
  flex-direction: column;
  border: 2px solid;
  padding: 2rem;
  background-color: rgb(196, 242, 255);
}

.input {
  width: 40rem;
}